.booking-list-container {
    padding: 20px;
  }
  
  .booking-list {
    list-style-type: none;
    padding: 0;
  }
  
  .booking-item {
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .booking-image-container {
    flex: 1;
  }
  
  .car-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .booking-details {
    flex: 3;
    padding: 0 20px;
  }
  
  .car-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .booking-date {
    margin: 10px 0;
  }
  
  .booking-status {
    margin: 10px 0;
  }
  
  .booking-number {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .booking-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .view-details-btn,
  .cancel-booking-btn,
  .update-info-btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
  }
  
  .view-details-btn {
    background-color: #007bff;
  }
  
  .cancel-booking-btn {
    background-color: #dc3545;
  }
  
  .update-info-btn {
    background-color: #28a745;
  }
  
  /* Status Classes */
  .status-confirmed {
    color: green;
  }
  
  .status-pending-deposit {
    color: orange;
  }
  
  .status-completed {
    color: blue;
  }
  
  .status-cancelled {
    color: red;
  }
  
  .status-pending-payment {
    color: purple;
  }
  